# Specific files
server/app_conf.py

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Nothing
*.swp

# Ignore sqlite3 binary file
*.db
*.db-journal
*.sqbpro

.DS_Store
