<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="
        default-src *  data: blob: filesystem: about: ws: wss: 'unsafe-inline' 'unsafe-eval'; 
        script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; 
        connect-src * data: blob: 'unsafe-inline'; 
        img-src * data: blob: 'unsafe-inline'; 
        frame-src * data: blob: ; 
        style-src * data: blob: 'unsafe-inline';
        font-src * data: blob: 'unsafe-inline';
        frame-ancestors * data: blob: 'unsafe-inline';                                                    
        " />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
        
        <link rel="stylesheet" href=" {{ url_for('static',filename='styles/reservas/oneDateSelectionStyle.css') }} ">
        <link rel="stylesheet" href=" {{ url_for('static',filename='styles/generalStyle.css') }} "> 

        <script src=" {{ url_for('static',filename='scripts/reservas/oneDateSelectionFunc.js') }} "></script>
        <script>
            var objectData = {{data|tojson}};
        </script>
    </head>
    <body>
        
        <!-- upper div spacer -->
        <div class="upper-div-spacer">

        </div>

        <!-- date carousel -->
        <div class="date-selection-div"></div>

        <!-- selection info div-->
        <div class="selection-info-div">
                <input id="nextButton" type="image" src="https://github.com/H3cth0r/BookMe/blob/main/BookMe/Assets.xcassets/nextButtonSquare.imageset/nextButtonSquare-2.png?raw=true" name="submit">
                <div>
                    <p>
                        Date selected:
                    </p>
                    <p id="selectText">

                    </p>
                </div>
        </div>
        
    </body>
</html>