<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <!--<script src="scripts/anime-master/anime-master/lib/anime.min.js"></script>  
         crud style -->
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/materialesHard.css') }}">
        <!-- import crud functionality -->
        <title>BookMe</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.ios.picker.js') }}"></script>
        <!--<link href="{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet">
        <script src="{{ url_for('static',filename='scripts/reloj.js') }}"></script>-->
    </head>
    <body>

        <div>
            <div id="dia">

            </div>
            <div id="contenedor" class="contenedor">
                <select id="hora" multiple="multiple"> <!-- añadir en value los segunos -->
                    <option value="0:15:00">0:15</option>
                    <option value="0:30:00">0:30</option>
                    <option value="0:45:00">0:45</option>
                    <option value="1:00:00">1:00</option>
                    <option value="1:15:00">1:15</option>
                    <option value="1:30:00">1:30</option>
                    <option value="1:45:00">1:45</option>
                    <option value="2:00:00">2:00</option>
                    <option value="2:15:00">2:15</option>
                    <option value="2:30:00">2:30</option>
                    <option value="2:45:00">2:45</option>
                    <option value="3:00:00">3:00</option>
                    <option value="3:15:00">3:15</option>
                    <option value="3:30:00">3:30</option>
                    <option value="3:45:00">3:45</option>
                    <option value="4:00:00">4:00</option>
                    <option value="4:15:00">4:15</option>
                    <option value="4:30:00">4:30</option>
                    <option value="4:45:00">4:45</option>
                    <option value="5:00:00">5:00</option>
                    <option value="5:15:00">5:15</option>
                    <option value="5:30:00">5:30</option>
                    <option value="5:45:00">5:45</option>
                    <option value="6:00:00">6:00</option>  
                    <option value="6:15:00">6:15</option>
                    <option value="6:30:00">6:30</option>
                    <option value="6:45:00">6:45</option>
                    <option value="7:00:00">7:00</option>
                    <option value="7:15:00">7:15</option>
                    <option value="7:30:00">7:30</option>
                    <option value="7:45:00">7:45</option>
                    <option value="8:00:00">8:00</option>
                    <option value="8:15:00">8:15</option>
                    <option value="8:30:00">8:30</option>
                    <option value="8:45:00">8:45</option>
                    <option value="9:00:00">9:00</option>
                    <option value="9:15:00">9:15</option>
                    <option value="9:30:00">9:30</option>
                    <option value="9:45:00">9:45</option>
                    <option value="10:00:00">10:00</option>
                    <option value="10:15:00">10:15</option>
                    <option value="10:30:00">10:30</option>
                    <option value="10:45:00">10:45</option>
                    <option value="11:00:00">11:00</option>
                    <option value="11:15:00">11:15</option>
                    <option value="11:30:00">11:30</option>
                    <option value="11:45:00">11:45</option>
                    <option value="12:00:00">12:00</option>
                    <option value="12:15:00">12:15</option>
                    <option value="12:30:00">12:30</option>
                    <option value="12:45:00">12:45</option>
                    <option value="13:00:00">13:00</option>
                    <option value="13:15:00">13:15</option>
                    <option value="13:30:00">13:30</option>
                    <option value="13:45:00">13:45</option>
                    <option value="14:00:00">14:00</option>
                    <option value="14:15:00">14:15</option>
                    <option value="14:30:00">14:30</option>
                    <option value="14:45:00">14:45</option>
                    <option value="15:00:00">15:00</option>
                    <option value="15:15:00">15:15</option>
                    <option value="15:30:00">15:30</option>
                    <option value="15:45:00">15:45</option>
                    <option value="16:00:00">16:00</option>
                    <option value="16:15:00">16:15</option>
                    <option value="16:30:00">16:30</option>
                    <option value="16:45:00">16:45</option>
                    <option value="17:00:00">17:00</option>
                    <option value="17:15:00">17:15</option>
                    <option value="17:30:00">17:30</option>
                    <option value="17:45:00">17:45</option>
                    <option value="18:00:00">18:00</option>
                    <option value="18:15:00">18:15</option>
                    <option value="18:30:00">18:30</option>
                    <option value="18:45:00">18:45</option>
                    <option value="19:00:00">19:00</option>
                    <option value="19:15:00">19:15</option>
                    <option value="19:30:00">19:30</option>
                    <option value="19:45:00">19:45</option>
                    <option value="20:00:00">20:00</option>
                    <option value="20:15:00">20:15</option>
                    <option value="20:30:00">20:30</option>
                    <option value="20:45:00">20:45</option>
                    <option value="21:00:00">21:00</option>
                    <option value="21:15:00">21:15</option>
                    <option value="21:30:00">21:30</option>
                    <option value="21:45:00">21:45</option>
                    <option value="22:00:00">22:00</option>
                    <option value="22:15:00">22:15</option>
                    <option value="22:30:00">22:30</option>
                    <option value="22:45:00">22:45</option>
                    <option value="23:00:00">23:00</option>
                    <option value="23:15:00">23:15</option>
                    <option value="23:30:00">23:30</option>
                    <option value="23:45:00">23:45</option>
                    <option value="24:00:00">24:00</option>
                </select>
            </div>
            
        </div>
        <div id="start-end">
            <button id="start">START</button>
            <button id="end">END</button>
        </div>
        <div class="selection-info-div">
            <input id="nextButton" type="image" src="https://github.com/H3cth0r/BookMe/blob/main/BookMe/Assets.xcassets/nextButtonSquare.imageset/nextButtonSquare-2.png?raw=true" name="submit">
            <div id = "Horas"></div>
        </div>
<script>
   /*{
    "objectData":{
        "id":1,
        "name":"test",
        "startDay": "2022-10-06",
        "endDay": "2022-10-06",

    },
    "timeRanges":[
        {
        "startDate": "2022-10-06 16:00:00.000",
        "endDate": "2022-10-06 18:00:00.000",
        "startDay": "2022-10-06",
        "startTime": "16:00:00",
        "endDay": "2022-10-06",
        "endTime": "18:00:00"
        },
        {
        "startDate": "2022-10-06 19:00:00.000",
        "endDate": "2022-10-06 22:00:00.000",
        "startDay": "2022-10-06",
        "startTime": "19:00:00",
        "endDay": "2022-10-06",
        "endTime": "22:00:00"
        }
    ]

  "objectId":4,
  "objectType":"HRDWR", 
  "objectName":"DELL PC", 
  "startDate":"2022-10-2 12:00:00.000",
  "endDate":"2022-10-2 22:00:00.000",
  "description":"Reserva Dell"
}*/
    var objectData = {
        "objectId":1,
        "objectType":"HRDWR",
        "objectName":"test",
        "startDate": "2022-10-06",
        "endDate": "2022-10-06",
        "descripcion": "test"
    };

    var timeRanges = [
        {
        "startDate": "2022-10-06 16:00:00.000",
        "endDate": "2022-10-06 18:00:00.000",
        "startDay": "2022-10-06",
        "startTime": "16:00:00",
        "endDay": "2022-10-06",
        "endTime": "18:00:00"
        },
        {
        "startDate": "2022-10-06 19:00:00.000",
        "endDate": "2022-10-06 22:00:00.000",
        "startDay": "2022-10-06",
        "startTime": "19:00:00",
        "endDay": "2022-10-06",
        "endTime": "22:00:00"
        }
    ];

    
    $(document).ready(function(){
        $('#dia').append(`<p value="`+ objectData.startDate +`">`+ objectData.startDate+ `</p>`);
    });

    $('#start').click(function(){
        var start = $('#hora').val();
        $('#end').click(function(){
            var end = $('#hora').val();
            
            if (start > end){
                var prov = start;
                start = end;
                end = prov;
            }
            $('#Horas').empty();
            $('#Horas').append('<p> Start: '+start+'</p>');
            $('#Horas').append('<p> End: '+end+'</p>');
            var colision = 0;
            if (start != ' ' && end != ' '){
                for (var i = 0; i < timeRanges.length; i++) {
                    if (start >= timeRanges[i].startTime && start <= timeRanges[i].endTime){ //si la hora de inicio esta dentro de un rango
                        alert ('colision ' + timeRanges[i].startTime + ' - ' + timeRanges[i].endTime + ' ' + start + ' - ' + end);
                        colision = 1;
                    }
                    if (end >= timeRanges[i].startTime && end <= timeRanges[i].endTime){ //si la hora de fin esta dentro de un rango
                        alert ('colision ' + timeRanges[i].startTime + ' - ' + timeRanges[i].endTime + ' ' + start + ' - ' + end);
                        colision = 1;
                    }
                }
                if (colision == 0){
                    alert ('no colision');
                    console.log(timeRanges);
                    /*var objectData = {
        "objectId":1,
        "objectType":"HRDWR",
        "objectName":"test",
        "startDate": "2022-10-06",
        "endDate": "2022-10-06",
        "descripcion": "test"
    };*/
                    var jsonHora = {
                        "objectId" : objectData.id,
                        "objectType" : objectData.objectType,
                        "objectName" : objectData.objectName,
                        "startDate" : objectData.startDay + ' ' + start,
                        "endDate" : objectData.endDay + ' ' + end,
                        "description" : objectData.descripcion
                    };
                    $.ajax({
                        url: '/reservations/showTicket',
                        type: 'POST',
                        data: JSON.stringify(jsonHora),
                        contentType: 'application/json',
                        success: function (data) {
                            console.log(data);
                        }
                    });
                }else{
                    alert('colision');
                }
            }
        });
    });
     
</script>
<style>
    *{
        font-family: 'Chivo', sans-serif;
    }
    select{
    overflow-y: show;
    width: 250px;
    size: 10;
    height: 50vh;
    background-color: transparent;
    border: 2px solid rgb(42, 42, 42);
    color: white;
    margin-top: 30px;
    align-items: center;

}

    #contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35vw;
        height: 53vh;
        margin-left: 30%;
        margin-top: -4%;

    }
    body {
        background-color: black;
        color : white;
    }
    #Horas {
        color: white;
        z-index: 1;
        margin-left: 12.5%;
        margin-top: 10px;
    }

    p{
        color: white;
    }
    #dia {
        color: white;
        font-size: 25px;
        text-align: center;        
    }

    #start-end {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #start {
        border: 1px solid white;
        background-color: transparent;
        color: white;
        width: 150px;
        height: 45px;
    }
    #end {

        border: 1px solid white;
        background-color: transparent;
        color: white;
        width: 150px;
        height: 45px;

    }
    #hora {
        text-align: center;
    }

    option {
        font-size: 20px;
        margin-top: 10px;   
    }

    .selection-info-div{
        width: 100vw;
        height: 20vh;
        margin-top: 5vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .selection-info-div input{
        width: 25%;
        height: 80%;
        margin-right: 8%;
        margin-bottom: 5%;;
    }

    .selection-info-div div p{
        color: white;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    }
</style>

