<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookMe</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/reservas/reservar.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet" />
	
    <!--<script src="{{ url_for('static',filename='scripts/ticketWithQr.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/ticketWithQr.css') }}">
   
    <script type="text/javascript">
        var sala = {{SALA|tojson}};
    </script> -->
    <script src="{{ url_for('static',filename='scripts/reservas/reservar.css') }}"></script>
    <script>
        var rooms = {{ ROOMS | tojson }};
    </script>
</head>

<html>
    <body>
        <div id="contenedorPersonas">
            <button id="btnAdd"><img src="{{ url_for('static',filename='resources/flecha mas.png') }}" alt="+"></button>
            <div id="personas">
            </div>
            <button id="btnRemove"><img src="{{ url_for('static',filename='resources/flecha menos.png') }}" alt="-"></button>
            <button id="btnSaveP">Next</button>
            <p id="numberA">Number of Assistants </p>
        </div>
        <div id="contenedorDias">
            <button id="menos"><img src="{{ url_for('static',filename='resources/menos.png') }}" ></button>
            <div id="dia">

            </div>
            
            <button id="mas"><img src="{{ url_for('static',filename='resources/mas.png') }}" ></button>
            <button id="btnSaveD">Next</button>
        </div>
        <div id="ticketSalida">
            <div id="ticket">
            </div>
            <button id="btnSaveT"><img src="{{ url_for('static',filename='resources/guardar.png') }}"></button>
        </div>


    </body>

</html>