<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookMe</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static',filename='scripts/reservas/seleccionSoftware.js') }}"></script>
    <script>
        var softW = {{SFTWR|tojson}};
    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/reservas/seleccionSoftware.css') }}">

</head>
<body>
    <div id="main_table">

    </div>
    
</body>




