 
 *{
        font-family: 'chivo', sans-serif;
        
 }
 #ticketInfo {
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: left;
     margin: 0 auto;
     width: 70%;
     height: 65%;
     padding: 0 10px;
     border: 2px solid white;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
 }

 #saveButton {
     width: 50%;
     height: 20%;
     margin-left: 40%;
        margin-top: 5%;
     
 }