*{
    font-family: 'chivo', sans-serif;
}
#imagenes {
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
}

#qrCode {
    width: 48%;
    height: 100%;
    background-color: white;
    
}
#profile {
    width: 48%;
    height: 100%;
    background-color: white;
    
}
#datosId {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    
}
#texto {
    width: 50%;
    height: 100%;
    color : white;
    font-size: 0.8cm;
    background-color: black;
    text-align: center;
    text-justify: inter-cluster;
    
}
#ticketsid {
    width: 50%;
    height: 100%;
    color : black;
    font-size: 0.7cm;
    background-color: white;
    text-align: center;
    text-justify: inter-cluster;
    border: 1px solid black;
}

#datosTicket {
    width: 100%;
    height: 59%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    
    
}
#contenedor {
    width: 80%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    border : 1px solid black;
    font-size: small;
    
}
#editar {
    width: 10%;
    height: 5%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin-left: 85%;
    margin-top: 75%;
    
}
#diaTicket {
    width: 20%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    writing-mode: vertical-lr;
    font-size: 1.4vh;
}
#barras {
    width: 100%;
    height: 8%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
#textoTicket {
    
    font-size: 1.6vh;
}
button {
    color : transparent;
    background-color: transparent;
}