<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookMe</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    
    <script>
        var currBooks = {{tickets|tojson}};
    </script>

    <script src="{{ url_for('static',filename='scripts/currBooks.js') }}"></script>
</head>
<body>
    <div id="currBookings">
        
    </div>
    
</body>




