<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="static/scripts/anime-master/lib/anime.min.js"></script>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="static/styles/admin.css"></link>

        <title>BookMe</title>
    </head>
 
    <body>
        <main class="container p-3">
            <h1 class="display-4 text-centerc title mt-4" >Agregando un objeto</h1>
            <br>


            <form action="" method="post" action=>
              
                <div class="form-group">
                    <label for="name">"name":{</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="surname">"surname":{</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="surname">
                </div>
                <div class="form-group">
                    <label for="username">"username":{</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="birth">"birth":{</label>
                    <input type="text" class="form-control" id="birth" name="birth" placeholder="birth">
                </div>
                <div class="form-group">
                    <label for="organization">"Organization":{</label>
                    <input type="text" class="form-control" id="organization" name="organization" placeholder="organization">
                </div>
                <div class="form-group">
                    <label for="email">"mail":{</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="age">"age":{</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="age">
                </div>
                <div class="form-group">
                    <label for="password">"password":{</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <label for="password">"password":{</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="password">
                </div>
            </form>
            <button type="submit" class="btn btn-primary">Submit</button>
        </main>
</body>