<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookMe</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static',filename='scripts/seleccionHardware.js') }}"></script>
    <script>
      var hardw = {{HRDWR|tojson}};
    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/seleccionHardware.css') }}">

</head>
<body>
    
</body>






<!-- {
  "roomId":1,
  "name":"Sala de Conferencias 01",
  "location":"Hub de Ciberseguridad, piso 3.",
  "label":"SC01",
  "description":"Sala de conferencias, apta para presentaciones ejecutivas a un público grande.",
  "capacity":40,
  "availability":true,
  "maxDays":"12"
} -->