<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookMe</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="usersInfo.js"></script> " 
    <link rel="stylesheet" href="ticketWithQr.css">
</head>
<body>
    <div id="fotoperfil">

    </div>
    <div id="infoUsuario">
        
    </div>
    <script>
        var userData = {{userData|tojson}};
    </script>
    <script src="{{ url_for('static',filename='scripts/materialesHard.js') }}"></script>
    
</body>

