<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet" />
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/verify.css') }}" />
        </head>  
    <body>
        <div class="v142_120">

            </div>
            <span class="v142_123">BooKME</span>
            <span class="v142_127">VERIFY YOUR ACCOUNT</span>
            <span class="v142_128">Go n' Check your mail account to verify you're no bot.</span>
            <span class="v142_129">If you don't see the email in your inbox, check your spam folder.</span>
    <div class="v142_128">

    </div>
    <div class="v142_129"></div><div class="v142_130"></div><div class="v142_131"></div><div class="v142_132"></div><div class="v142_133"></div><div class="v142_134"></div><div class="v142_135"></div></div></body></html> <br/><br/> 