*{
	margin		:	0;
	padding		:	0;
}
@font-face{
	font-family	:	'Roobert';
	src		:	url('Roobert-Regular.woff2') format('woff2');
	font-weight	:	normal;
	font-style	:	normal;
}
@font-face{
	font-family	:	"Roobert";
	src		:	url('Roobert-Bold.woff2') format('woff2');
	font-weight	:	bold;
	font-style	:	normal;
}



p{
	font-family	:	'Roobert';
	font-weight	:	normal;
	color		:	white;
}
a{
	font-family: 'Roobert';
	font-weight: normal;
}
.canvas-holder{
	background-color:	black;
	position: relative;
	width: 100vw;
	height: 100vh;
}
.canvas-holder #maincanvas{
	position	:	absolute;
	height		:	100vh;
	width		:	100vw;
	z-index		:	0;
}
#texturecanvas{
	position	:	absolute;
	z-index		:	1;
	width		:	100vw;
	height		:	100vh;
	background-image:	url("../resources/granulatedTexture.png");
}


/* main-navar style. This one is on the top */
.main-navbar{
	/*background-color:	black;*/
	position	:	absolute;
	z-index		:	2;
	background	:	transparent;
	/*background-color:	red;*/
	width		:	100vw;
	height		:	15vh;
	display		:	flex;
	flex-direction	:	row;
	align-items	:	center;
	justify-content: space-between;
}
.main-navbar p{
	font-size	:	1.2rem;
}

#myname-title{
	display		:	flex;
	flex-direction	:	row;
	background	:	transparent;
	margin-left	:	2rem;
}
#myname-name{
	font-weight	:	bold;
}

.scrollable-main{
	width: 100vw;
	height: 100vh;
	z-index: 2;
	position: absolute;

	overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.single-row-div{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;	
}


#hub-img{
	width: 30vw;
	height:auto;
}

.to-column{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 40vw;
	text-align: justify;
}
#first-info{
	height: 25vh;
	line-height: 1.6
}
#hub-img{
	width: 70%;
	height: auto;
}
#second-info{
	height: 50vh;
	line-height: 2;
}
#third-info{
	height: 50vh;
	line-height: 2;
}
#fourth-info{
	justify-content: center;
}

.main-title{
	font-size: 150%;
}





.dropdown {
    float: right;
    position: relative;
  }
  
  .dropbtn{
    font-weight: lighter;
  }

  .dropdown .dropbtn {
    text-align: center;
    font-size: 15px;
    padding: 20px 16px;
    top: 100%;
    background-color: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
	opacity: 0.2;
    min-width: 250px;
    z-index: 1;
    top: 100%;
  }
  .dropdown-content a{
	opacity: 2;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn img{
    width: 30%;
    height: 30%;
  }

