 <!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="scripts/anime-master/lib/anime.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet" />
		<meta charset="utf-8"></meta>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/auth/logAndReg.css') }}"></link>
		<title>BookMe</title>

	</head>
<body>
    <div>
        <div id="myname-title">
            <h1 id="myname-name">BooKME &ensp;</h2>
        </div>
    </div>
    <div>
        <a href="/login"><img src="{{ url_for('static',filename='resources/log.png') }}" alt="log" id="log"></a>
        <p id = "ortext">or</p>
        <a href="/register"><img src="{{ url_for('static',filename='resources/reg.png') }}" alt="reg" id="reg"></a>
    </div>
</body>