<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="
        default-src *  data: blob: filesystem: about: ws: wss: 'unsafe-inline' 'unsafe-eval'; 
        script-src * data: blob: 'unsafe-inline' 'unsafe-eval'; 
        connect-src * data: blob: 'unsafe-inline'; 
        img-src * data: blob: 'unsafe-inline'; 
        frame-src * data: blob: ; 
        style-src * data: blob: 'unsafe-inline';
        font-src * data: blob: 'unsafe-inline';
        frame-ancestors * data: blob: 'unsafe-inline';                                                    
        " />
        
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href=" {{url_for('static', filename='styles/auth/login.css')}} ">
        <link rel="stylesheet" href=" {{url_for('static', filename='styles/generalStyle.css')}} "> 

        <title>BookMe</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src=" {{url_for('static', filename='scripts/auth/login.js')}} "></script>
    </head>
    <body>

       <!-- Navbar -->
       <div class="navbar-div">
            <div class="spacer-div">
                <div class="dropdown">
                    <a href="#" class="dropbtn"><img src="https://github.com/H3cth0r/BookMe/blob/main/BookMe/Assets.xcassets/stepControlButtons.imageset/stepControlButtons-1.png?raw=true" alt=""></a>
                     <div class="dropdown-content">
                        <a href="#">Home</a>
                    </div>
                </div>
            </div>
            <p id="bookMeTitle">BookMe</p>
            <div class="spacer-div"></div>
       </div> 



       <div class="main-div-container">
            <div class="form-container">

                <p>
                    { <br>
                        <span class="tab"></span>"login" : { <br>
                            <span class="tab"></span><span class="tab"></span> "user" : { <br>
                </p> 
                <div class="input-info-row">
                    <p id="emailId">"username/mail":</p>
                    <input type="text" id="email">
                    <div></div>
                </div>
                <div class="input-info-row">
                    <p id="passwordId">"password":</p>
                    <input type="password" id="password">
                    <div></div>
                </div>
                <p>
                    <span class="tab"></span><span class="tab"></span>}, <br>
                    <span class="tab"></span>}
                </p> 
                <!-- Button send container-->
                <div class="button-send-container">
                    <input id="sendButton" type="image" src="https://github.com/H3cth0r/BookMe/blob/main/BookMe/Assets.xcassets/sendButton.imageset/sendButton.png?raw=true" name="submit">
                </div>
            </div>

       </div>






        
    </body>
</html>