
.main-div{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-div div input{
    margin-top: 2vh;
    width: 30vw;
    background-color: rgb(229, 229, 229);
    border: none;
    outline: none;
}
.main-div div a{
    margin-top: 7vh;
    text-align: center;
}

#title-p{
    font-weight: lighter;
    font-size: 160%;
}
#text-message{
    font-weight: lighter;
}