body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-div{
    width: 33vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#main-title{
    font-weight: lighter;
    font-size: 160%;
}

#content-div{

    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#content-div p{
    font-weight: lighter;
}

#text-info-two{
    margin-top: 5vh;
}

#content-div a{
    margin-top: 5vh;
    text-align: center;
}
#content-div input{
    width: 15vw;
    background-color: rgb(229, 229, 229);
    border: none;
    outline: none;
}